<div class="app-body">
  <div class="card-container">
    <nz-tabset nzType="card">
      <nz-tab nzTitle="Representation & Format" (nzClick)="tabClicked(1)">
        <p class="tab-question-txt">
          {{ tab1CurrentData ? tab1CurrentData.Question : "" }}
        </p>
        <div
          *ngFor="let item of tab1CurrentData.Options; let i = index"
          class="options"
        >
          <ng-container *ngIf="tab1CurrentData.MultipleAllowed === false">
            <input
              type="radio"
              [checked]="item.IsSelected"
              (change)="radioChecked(1, tab1CurrentData, item, $event)"
            />
            <label for="{{ item.IndicatorText }}">
              {{ item.IndicatorText }}</label
            >
          </ng-container>

          <ng-container *ngIf="tab1CurrentData.MultipleAllowed === true">
            <input
              type="checkbox"
              [checked]="item.IsSelected"
              (change)="radioChecked(1, tab1CurrentData, item, $event)"
            />
            <label for="{{ item.IndicatorText }}">
              {{ item.IndicatorText }}</label
            >
          </ng-container>
        </div>
      </nz-tab>

      <nz-tab nzTitle="Content & Context" (nzClick)="tabClicked(2)">
        <p class="tab-question-txt">
          {{ tab2CurrentData ? tab2CurrentData.Question : "" }}
        </p>
        <div
          *ngFor="let item of tab2CurrentData.Options; let i = index"
          class="options"
        >
          <ng-container *ngIf="tab2CurrentData.MultipleAllowed === false">
            <input
              type="radio"
              [checked]="item.IsSelected"
              (change)="radioChecked(2, tab2CurrentData, item, $event)"
            />
            <label for="{{ item.IndicatorText }}">
              {{ item.IndicatorText }}</label
            >
          </ng-container>

          <ng-container *ngIf="tab2CurrentData.MultipleAllowed === true">
            <input
              type="checkbox"
              [checked]="item.IsSelected"
              (change)="radioChecked(2, tab2CurrentData, item, $event)"
            />
            <label for="{{ item.IndicatorText }}">
              {{ item.IndicatorText }}</label
            >
          </ng-container>
        </div>
      </nz-tab>

      <nz-tab
        nzTitle="Hosting Environment Capabilities"
        (nzClick)="tabClicked(3)"
      >
        <p class="tab-question-txt">
          {{ tab3CurrentData ? tab3CurrentData.Question : "" }}
        </p>
        <div
          *ngFor="let item of tab3CurrentData.Options; let i = index"
          class="options"
        >
          <ng-container *ngIf="tab3CurrentData.MultipleAllowed === false">
            <input
              type="radio"
              [checked]="item.IsSelected"
              (change)="radioChecked(3, tab3CurrentData, item, $event)"
            />
            <label for="{{ item.IndicatorText }}">
              {{ item.IndicatorText }}</label
            >
          </ng-container>

          <ng-container *ngIf="tab3CurrentData.MultipleAllowed">
            <input
              type="checkbox"
              [checked]="item.IsSelected"
              (change)="radioChecked(3, tab3CurrentData, item, $event)"
            />
            <label for="{{ item.IndicatorText }}">
              {{ item.IndicatorText }}</label
            >
          </ng-container>
        </div>
      </nz-tab>
    </nz-tabset>

    <button
      nz-button
      class="submit-btn"
      nzType="primary"
      (click)="submitResponse()"
    >
      Submit
    </button>

    <div class="tab-button-back-forward">
      <nz-button-group>
        <button
          nz-button
          nzType="primary"
          (click)="tabBackwardBtnClick()"
          [disabled]="currentTabBackwardBtnDisable"
        >
          <i nz-icon nzType="left"></i>
          Previous
        </button>
        <button
          nz-button
          nzType="primary"
          (click)="tabForwardBtnClick()"
          [disabled]="currentTabForwardBtnDisable"
        >
          Next
          <i nz-icon nzType="right"></i>
        </button>
      </nz-button-group>
    </div>
  </div>
</div>

<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel()"
  [nzWidth]="900"
>
  <ng-template #modalTitle>FAIRplus-DSM Maturity Result:</ng-template>

  <ng-template #modalContent>
    <nz-table
      #basicTable
      [nzData]="userResponseData"
      [nzFrontPagination]="false"
    >
      <thead>
        <tr>
          <th>Level</th>
          <th>Representation & Format</th>
          <th>Content & Context</th>
          <th>Hosting Environment Capabilities</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.Level }}</td>
          <td>{{ data.PresentationScore }}</td>
          <td>{{ data.ContentScore }}</td>
          <td>{{ data.Hosting }}</td>
          <td>{{ data.TotalScoreByLevel }}</td>
        </tr>
      </tbody>
    </nz-table>
  </ng-template>

  <ng-template #modalFooter>
    <button
      nz-button
      nzType="primary"
      (click)="handleOk()"
      [nzLoading]="isConfirmLoading"
    >
      OK
    </button>
  </ng-template>
</nz-modal>
