

    .app-body {
      margin: 1% 9% 0% 9%;
  }

    .card-container ::ng-deep p {
      margin: 0;
    }
    .card-container ::ng-deep > .ant-tabs-card .ant-tabs-content {
      min-height: 400px;
      margin-top: -16px;
    }
    .card-container ::ng-deep > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
      background: #fff;
      padding: 16px;
    }
    .card-container ::ng-deep > .ant-tabs-card > .ant-tabs-nav::before {
      display: none;
    }
    .card-container ::ng-deep > .ant-tabs-card .ant-tabs-tab {
      border-color: transparent;
      background: rgba(27, 49, 87, 0.8);
      color: #aaa7a7;
    }
    .card-container ::ng-deep > .ant-tabs-card .ant-tabs-tab-active {
      border-color: #fff;
      color: #fff !important;
      background: #1b3157;

    }


    [nz-radio] {
      display: block;
      height: 32px;
      line-height: 32px;

    }



.submit-btn {
  float: right;
}

.tab-question-txt {
  margin-bottom: 15px !important;
  margin-top: 15px !important;
  font-weight: bold;
  font-size: larger;
  color: darkorange;
}

.tab-question-img {
  width: 500px !important;
  /*float: right;*/
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;

}

.tab-question-img-header {
  text-align: end;
  position: relative;
  font-size: larger;
  font-weight: bold;
  top: -20px;
  right: -500px;
  transform: translate(-50%, -50%);
  color: darkblue;
  }


.options{
margin-bottom: 10px !important;
}

.tab-button-back-forward{
height: 15%;
display: flex;
align-items: flex-end;
}

.text-color-red{
  color: red;
  }

.text-color-green{
    color: green;
  }


