<div class="app-body">
  <div class="card-container">
    <nz-tabset [(nzSelectedIndex)]="currentSelectedTab" nzType="card" >
      <nz-tab  nzTitle="Representation & Format">

        <h3>
          Focus: {{tab1CurrentData.SectionName}}
        </h3>

        <nz-collapse [nzBordered]="false" nz-button="ko">
          <nz-collapse-panel nzHeader="More Info">
            <p>
              {{tab1CurrentData.Info}}
            </p>
            <p>
              <img class="tab-question-img" srcset="../../assets/img/{{tab1CurrentData.Image}}"
                 [title]="tab1CurrentData.SectionName"/>
            </p>
          </nz-collapse-panel>
        </nz-collapse>

        <p class="tab-question-txt">
          [{{tab1CurrentData.SectionId}} of {{tab1Data.length+tab2Data.length+tab3Data.length}}]
          {{ tab1CurrentData ? tab1CurrentData.Question : "" }}
        </p>
        <nz-divider></nz-divider>



        <div
          *ngFor="let item of tab1CurrentData.Options; let i = index"
          class="options"
        >
          <ng-container *ngIf="tab1CurrentData.MultipleAllowed === false">
            <input
              type="radio"
              [checked]="item.IsSelected"
              (change)="radioChecked(1, tab1CurrentData, item, $event)"
            />
            <label for="{{ item.IndicatorText }}">
               {{ item.IndicatorText }}<a href="{{item.URI}}" target="_blank" *ngIf="item.URI"><sup>(?)</sup></a></label
            >
          </ng-container>

          <ng-container *ngIf="tab1CurrentData.MultipleAllowed === true">
            <input
              type="checkbox"
              [checked]="item.IsSelected"
              (change)="radioChecked(1, tab1CurrentData, item, $event)"
            />
            <label for="{{ item.IndicatorText }}">
              {{ item.IndicatorText }}<a href="{{item.URI}}" target="_blank" *ngIf="item.URI"><sup>(?)</sup></a></label
            >
          </ng-container>
        </div>
      </nz-tab>

      <nz-tab nzTitle="Content & Context">
        <h3>
          Focus: {{tab2CurrentData.SectionName}}
        </h3>

        <p class="tab-question-txt">
          [ {{tab2CurrentData.SectionId}} of {{tab1Data.length+tab2Data.length+tab3Data.length}}  ]
          {{ tab2CurrentData ? tab2CurrentData.Question : "" }}
        </p>
        <nz-divider></nz-divider>

<!--        <div>-->
<!--          <img class="tab-question-img" [src]="tab1CurrentData.Image" [title]="tab1CurrentData.SectionName"/>-->
<!--        </div>-->

        <div
          *ngFor="let item of tab2CurrentData.Options; let i = index"
          class="options"
        >
          <ng-container *ngIf="tab2CurrentData.MultipleAllowed === false">
            <input
              type="radio"
              [checked]="item.IsSelected"
              (change)="radioChecked(2, tab2CurrentData, item, $event)"
            />
            <label for="{{ item.IndicatorText }}">
                {{ item.IndicatorText }}<a href="{{item.URI}}" target="_blank" *ngIf="item.URI"><sup>(?)</sup></a></label
            >
          </ng-container>

          <ng-container *ngIf="tab2CurrentData.MultipleAllowed === true">
            <input
              type="checkbox"
              [checked]="item.IsSelected"
              (change)="radioChecked(2, tab2CurrentData, item, $event)"
            />
            <label for="{{ item.IndicatorText }}">
              {{ item.IndicatorText }}<a href="{{item.URI}}" target="_blank" *ngIf="item.URI"><sup>(?)</sup></a></label
            >
          </ng-container>
        </div>
      </nz-tab>

      <nz-tab   nzTitle="Hosting Environment Capabilities" >

        <h3>
          Focus: {{tab3CurrentData.SectionName}}
        </h3>

        <p class="tab-question-txt">
          [ {{tab3CurrentData.SectionId}} of {{tab1Data.length+tab2Data.length+tab3Data.length}} ]
          {{ tab3CurrentData ? tab3CurrentData.Question : "" }}
        </p>
        <nz-divider></nz-divider>

<!--        <div>-->

<!--          <img class="tab-question-img"-->
<!--            [src]="tab1CurrentData.Image"-->
<!--            [title]="tab1CurrentData.SectionName"-->
<!--          />-->
<!--        </div>-->

        <div
          *ngFor="let item of tab3CurrentData.Options; let i = index"
          class="options"
        >
          <ng-container *ngIf="tab3CurrentData.MultipleAllowed === false">
            <input
              type="radio"
              [checked]="item.IsSelected"
              (change)="radioChecked(3, tab3CurrentData, item, $event)"
            />
            <label for="{{ item.IndicatorText }}">
              {{ item.IndicatorText }}<a href="{{item.URI}}" target="_blank" *ngIf="item.URI"><sup>(?)</sup></a></label
            >
          </ng-container>

          <ng-container *ngIf="tab3CurrentData.MultipleAllowed">

            <input
              type="checkbox"
              [checked]="item.IsSelected"
              (change)="radioChecked(3, tab3CurrentData, item, $event)"
            />
            <label for="{{ item.IndicatorText }}">
              {{ item.IndicatorText }}<a href="{{item.URI}}" target="_blank" *ngIf="item.URI"><sup>(?)</sup></a></label
            >
          </ng-container>
        </div>
      </nz-tab>
    </nz-tabset>

    <button
      nz-button
      class="submit-btn"
      nzType="primary"
      (click)="submitResponse()"
    >
      Submit
    </button>

    <div class="tab-button-back-forward">
      <nz-button-group>
        <button
          nz-button
          nzType="primary"
          (click)="tabBackwardBtnClick()"
          [disabled]="currentTabBackwardBtnDisable"
        >
          <i nz-icon nzType="left"></i>
          Previous
        </button>
        <button
          nz-button
          nzType="primary"
          (click)="tabForwardBtnClick()"
          [disabled]="currentTabForwardBtnDisable"
        >
          Next
          <i nz-icon nzType="right"></i>
        </button>
      </nz-button-group>
    </div>
  </div>
</div>

<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel()"
  [nzWidth]="1100"
>
  <ng-template #modalTitle>
    <p>FAIR-DSM Assessment Result Summary</p>
    <div>Based on the current assessment, the table below shows the percentage of indicators satisfied towards reaching each level of maturity. </div>
  </ng-template>

  <ng-template></ng-template>

  <ng-template #modalContent>
    <nz-table
      #basicTable
      [nzData]="userResponseData"
      [nzFrontPagination]="false"
    >
      <thead>
        <tr>
          <th>Level</th>
          <th>Representation & Format</th>
          <th>Content & Context</th>
          <th>Hosting Environment Capabilities</th>
          <th>Overall Level % Completion </th>
          <th></th>
        </tr>
      </thead>
      <tbody class="text-color-red">
        <tr *ngFor="let data of basicTable.data">
          <td><a href="{{data.URI}}" target="_blank" >{{data.Level}}</a></td>
          <td [className]="data.PresentationScore === 100 ? 'text-color-green' : 'text-color-red'">{{ data.PresentationScore }}%</td>
          <td [className]="data.ContentScore === 100 ? 'text-color-green' : 'text-color-red'">{{ data.ContentScore }}%</td>
          <td [className]="data.Hosting === 100 ? 'text-color-green' : 'text-color-red'">{{ data.Hosting }}%</td>
          <td [className]="data.TotalScoreByLevel === 100 ? 'text-color-green' : 'text-color-red'">{{ data.TotalScoreByLevel }}%</td>
          <td>
            <button
            nz-button
            class="submit-btn"
            nzType="primary"
            (click)="showDetailedResult(data.Level)"
          >
            Details
          </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </ng-template>

  <ng-template #modalFooter>
    <button
      nz-button
      nzType="primary"
      (click)="handleOk()"
      [nzLoading]="isConfirmLoading"
    >
      OK
    </button>
	<button
      nz-button
      nzType="primary"
      (click)="print()"
      [nzLoading]="isConfirmLoading"
    >
      Print
    </button>
  </ng-template>
</nz-modal>

<nz-modal
  [(nzVisible)]="isVisibleForDetailedResult"
  [nzTitle]="modalTitleForDetailedResult"
  [nzContent]="modalContentForDetailedResult"
  [nzFooter]="modalFooterForDetailedResult"
  (nzOnCancel)="handleCancelForDetailedResult()"
  [nzWidth]="1100"
>
  <ng-template #modalTitleForDetailedResult>
    <p>The list below shows the indicators required to achieve
      <a href="{{detailedResultLevelURI}}" target="_blank" >FAIR-DSM Level {{detailedResultLevelToFilter}}</a>
    </p>
    <p>Based on this assessment, {{detailedResultData.length - selectedIndicatorsForDetailedResultLevel}} indicators still need to be satisfied for your Datasets to reach Maturity Level {{detailedResultLevelToFilter}}</p>
  </ng-template>

  <ng-template #modalContentForDetailedResult>
    <div style="background: #ECECEC;padding:30px; margin-bottom: 20px;">
      <div *ngFor="let indicatorData of detailedResultData; let i = index" class="detailed-result-dev" >
        <ng-container>
          <input
            type="checkbox"
            [checked]="indicatorData.IsSelected" disabled
          />
          <label for="{{ indicatorData.IndicatorText }}" [className]="indicatorData.IsSelected === true ? 'text-color-green' : 'text-color-red'">
            <a href="{{indicatorData.URI}}" target="_blank" *ngIf="indicatorData.URI">[{{indicatorData.IndicatorId}}]</a>{{ indicatorData.IndicatorText }}</label
          >
        </ng-container>
    </div>
    </div>

  </ng-template>

  <ng-template #modalFooterForDetailedResult>
    <button
      nz-button
      nzType="primary"
      (click)="handleOkForDetailedResult()"
    >
      OK
    </button>
  </ng-template>
</nz-modal>

